@model SysPatrimonio.Models.DbFornecedor

@{
    ViewData["Title"] = "Deletar Fornecedor";
}

<h1>Deletar Fornecedor</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome Fornecedor
            @*@Html.DisplayNameFor(model => model.nomefornecedor)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomefornecedor)
        </dd>
        <dt class = "col-sm-2">
            Endereço
            @*@Html.DisplayNameFor(model => model.endereco)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            Fone
            @*@Html.DisplayNameFor(model => model.fone)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
