@model SysPatrimonio.Models.DbLocal

@{
    ViewData["Title"] = "Detalhes Local";
}

<h1>Detalhes Local</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome Local
            @*@Html.DisplayNameFor(model => model.nomelocal)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
        <dt class = "col-sm-2">
            Descrição Local
            @*@Html.DisplayNameFor(model => model.descricaolocal)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaolocal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
