@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO AO SYSTEMA PATRIMONIO</h1>
</div>

<body>
    <img src="https://www.intelidata.inf.br/site/wp-content/uploads/2015/12/intelidata-como-funciona-um-sistema-erp-para-pequenas-e-medias-empresas-1200x640-c-top-center.jpg" width="100%" height="100%" />
</body>
